<h1>Journal Entry For: <%= @journal.date %></h1>
<p>
  <%= simple_format @journal.entry %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal), class: "button round" %> 
<%= link_to 'Back', journals_path, class: "button round" %>
