// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation-icons';
.positive {
  background-color:green;
}
.positive a{
  padding: 2px;
  color:white;
}
.negative {
  background-color:red;
}
.negative a{
  padding: 2px;
  color:white;
}
