// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation-icons';
.positive {
  background-color:green;
}
.positive a{
  padding: 2px;
  color:white;
  padding: 15px 4px;
  display: block;
}
.negative {
  background-color:red;
}
.negative a{
  padding: 2px;
  color:white;
  padding: 15px 4px;
  display: block;
}
.neutral a{
  padding: 15px 4px;
  display: block;
}
td .count{
  font-size: 1.875rem;
}
td .positive-count {
  color: green;
}
td .negative-count {
  color: red;
}
.general{
  padding: 10px 0px;
  display: block;
  cursor: pointer;
}
