// Place all the styles related to the habits controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'foundation-icons';
.habit {
  padding: 0px 10px;
  width: 150px;
}
.positive {
  background-color:green;
}
.positive a{
  padding: 2px;
  color:white;
  padding: 15px 4px;
  display: block;
}
.negative {
  background-color:red;
}
.negative a{
  padding: 2px;
  color:white;
  padding: 15px 4px;
  display: block;
}
.neutral a{
  padding: 15px 4px;
  display: block;
}
td .count{
  font-size: 1.875rem;
}
td .positive-count {
  color: green;
}
td .negative-count {
  color: red;
}
.general{
  padding: 10px 0px;
  display: block;
  cursor: pointer;
}
#habits .handle {
  cursor: move;
}
#habits .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
}

th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 14px;
}

.notmonth, .notmonth a { color: #CCC; }
.today { background-color: #D7F2FF; }
}

#habits #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
}
}

#habits ul {
  font-size: 18px;
  padding-left: 20px;
  list-style-type: none;
}
#habits ul .positive-count {
  color: green;
}
#habits ul .negative-count {
  color: red;
}
