<div class="row"> 
  <div class="small-12 columns">
    <h1>Editing habit</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @activity %> |
    <%= link_to 'Habits', activities_path %> |
    <%= link_to 'Delete', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
