<div class="row"> 
  <div class="small-12 columns">
    <h1>Editing habit</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @habit, class: "button round" %> |
    <%= link_to 'Delete', @habit, method: :delete, data: { confirm: 'Are you sure?' , class: "button round"} %> |
    <%= link_to 'Dashboard', habits_pat, class: "button round"h %> 
  </div>
</div>
